<nav id="nav-top" class="navbar navbar-expand navbar-dark ">
    <a class="navbar-brand text-white ml-2" routerLink="/main-site">
        <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        Purchase Order Tracker
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/main-site/purchase-orders">Purchase Orders</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/main-site/suppliers">Suppliers</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/main-site/shipments">Shipments</a>
            </li>
        </ul>
        <!-- TODO: Implement functionality for the following links -->
        <a class="nav-link text-white cursor-not-allowed" href="#">Settings</a>
        <a class="nav-link text-white cursor-not-allowed" href="#">Help</a>  
        <a class="nav-link text-white cursor-not-allowed" href="#">Admin</a>  
    </div>
</nav>