.nav-left {
  //background-color: #2d3f50;
  background: linear-gradient(180deg, #181a1dde 10%, #2d3f50 100%);
  width: 14rem;

  border-top: 1px solid rgb(95,101,108);

  .nav-item {
    &.active > a {
      color: white;
    }

    > a {
      transition: color 0.5s ease;
      // #color: #dbe5e7;
      color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
      &:hover {
        //color: darken(#dbe5e7, 10%);
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }


  .navbar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 1rem 1rem;
  }
}
