<h1>Create Shipment</h1>
<messages></messages>
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group row">
        <label name="trackingId" for="trackingId" class="col-2 col-form-label">Tracking Id</label>
        <div class="col-10">
            <input id="trackingId" [(ngModel)]="model.trackingId" name="trackingId" class="form-control" required />
        </div>
    </div>
    <div class="form-group row">
        <label name="company" for="company" class="col-2 col-form-label">Company</label>
        <div class="col-10">
            <input id="company" [(ngModel)]="model.company" name="company" class="form-control" required />
        </div>
    </div>
    <div class="form-group row">
        <label name="eta" for="eta" class="col-2 col-form-label">ETA</label>
        <div class="col-10">
            <div class="input-group">
                <input id="eta" class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model.eta" name="eta" ngbDatepicker #d="ngbDatepicker">
                <button class="input-group-addon" (click)="d.toggle()" type="button" tabindex="-1">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label name="shippingCost" for="shippingCost" class="col-2 col-form-label">Shipping Cost</label>
        <div class="col-10">
            <input id="shippingCost" [(ngModel)]="model.shippingCost" name="shippingCost" class="form-control" required />
        </div>
    </div>
    <div class="form-group row">
        <label name="destinationAddress" for="destinationAddress" class="col-2 col-form-label">Dest. Address</label>
        <div class="col-10">
            <input id="destinationAddress" [(ngModel)]="model.destinationAddress" name="destinationAddress" class="form-control" required />
        </div>
    </div>
    <div class="form-group row">
        <label name="comments" for="comments" class="col-2 col-form-label">Comments</label>
        <div class="col-10">
            <textarea id="comments" [(ngModel)]="model.comments" name="comments" class="form-control" rows="5"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Create</button>
</form>