<div id="nav-left" class="col-4 col-md-2 bg-faded px-1">
    <nav *ngIf="isDisplayPurchaseOrdersNav()" class="nav nav-pills flex-column">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/inquiry" [queryParams]="{queryType: 'Open'}">Open Orders</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/inquiry" [queryParams]="{queryType: 'All'}">All Orders</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/inquiry" [queryParams]="{queryType: 'ScheduledForDeliveryToday'}">For Delivery Today</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/inquiry" [queryParams]="{queryType: 'Delayed'}">Delayed</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/inquiry" [queryParams]="{queryType: 'DelayedMoreThan7Days'}">Delayed More Than 7 Days</a>
        <hr class="w-75">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/purchase-orders/create">Create New</a>
    </nav>
    <nav *ngIf="isDisplayShipmentsNav()" class="nav nav-pills flex-column">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/shipments/inquiry" [queryParams]="{queryType: 'All'}">All Shipments</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/shipments/inquiry" [queryParams]="{queryType: 'ScheduledForDeliveryToday'}">For Delivery Today</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/shipments/inquiry" [queryParams]="{queryType: 'Delayed'}">Delayed</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/shipments/inquiry" [queryParams]="{queryType: 'DelayedMoreThan7Days'}">Delayed More Than 7 Days</a>
        <hr class="w-75">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/shipments/create">Create New</a>
    </nav>
    <nav *ngIf="isDisplaySuppliersNav()" class="nav nav-pills flex-column">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/suppliers/inquiry" [queryParams]="{queryType: 'All'}">All Suppliers</a>
        <hr class="w-75">
        <a class="nav-link" routerLinkActive="active" routerLink="/main-site/suppliers/create">Create New</a>
    </nav>
</div>