// do not name this file '_variables.scss' because it will override bootstrap's file of the same name

// TODO: leave as ~bootstrap/scss/functions to make it more obvious ?
@import 'functions';
@import 'variables';

// override bootstrap variables

$blue: hsl(207, 63%, 43%);
$red: hsl(7, 72%, 50%);
$yellow: hsl(36, 88%, 54%);
$green: hsl(119, 44%, 50%);
$hero: darken(theme-color('primary'), 25%);

// extend theme with additional semantic colours
$theme-colors: (
  'hero': $hero
);
